{{ define "main" }}
  <style>
    /* Hide the header on the index page */
    header { display: none; }
    /* Full-width container and in this case, carousel. */
    .container {
        width: 100%;
        max-width: none;
    }
    h1 {
        text-align: center;
        font-size: 50px;
    }
    /* No padding on navbar */
    nav .container-fluid, .container {
        padding-left: 300px;
        padding-right: 300px;
    }

    .navbar {
      min-height: 70px;
      margin-top: 20px;
      border: 0px;
    }
    
    h2 {
      margin-top: 150px;
      font-size: 45px;
      font-family: "mostra-nuova";
      font-weight: bold;
      text-transform: capitalize;
    }

    h3 {
      margin-top: 40px;
      font-size: 20px;
      color: #666666;
    }
  </style>
  <div role="main" class="container">
    {{/*  <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">  */}}
        {{ with .Content }}
          {{/*  <div class="well">  */}}
            {{.}}
          {{/*  </div>  */}}
        {{ end }}
      {{/*  </div>
    </div>  */}}
  </div>
{{ end }}
