{{ define "main" }}
  <style>
    /* Hide the header on the index page */
    header { display: none; }
    /* Full-width container and in this case, carousel. */
    .container {
        width: 100%;
        max-width: none;
    }
    h1 {
        text-align: center;
        color: #bbb;
        font-style: italic;
    }
    /* No padding on navbar */
    nav .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    h2 {
      padding-top: 150px;
    }
  </style>
  <div role="main" class="container">
    {{/*  <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">  */}}
        {{ with .Content }}
          {{/*  <div class="well">  */}}
            {{.}}
          {{/*  </div>  */}}
        {{ end }}
      {{/*  </div>
    </div>  */}}
  </div>
{{ end }}
